/* start section SERVICIOS*/
#div-servicios{
    padding: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}
.servicio{
    position:relative;
    width: 100%;
    padding: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.servicio > img{
    width: 40%;
    height:auto;
    border-radius: 50%;
    opacity: 75%;
}
.servicio > div{
    width: 50%;
}
.servicio > div > h2{
    text-align:center;
    color: var(--titlePlainBG_Dye);
    font-family: var(--font1);
    font-size: 25px;
}
.servicio > div > p{
    display:block;
    font-size: 20px;
    margin-top: 15px;
}
/* end section SERVICIOS */
@media screen and (max-width:550px){
    .servicio{
        padding: 10%;
        margin-top: 30px;
        margin-bottom: 30px;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .servicio > img{
        width: 100%;
    }
    .servicio > div{
        width: 100%;
    }
}